*{box-sizing: border-box;
    color: white;
}
body{
    background-color: grey;
}
#noir{
    background-color: black;
}
#orange{
    width: 800px;
    height: 160px;
    display: grid;
    grid-template-columns: 60px 400px 150px auto;
    padding: 1%;
    margin: auto;
    padding-top: 25px;
    background-color: orange;
}
#rose{
    width: 800px;
    height: 160px;
    display: grid;
    grid-template-columns: auto 150px 60px 400px;
    padding: 1%;
    margin: auto;
    padding-top: 25px;
    background-color: deeppink;
}
#blanc{
    background-color: white;
}
.rond{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: darkgrey;
    margin-top: 28px;
    margin-left: 15px;
}
h1{
    font-size: medium;
    line-height: 2;
    margin-left: 25px;
    margin-top: 25px;
}
h2{
    font-size: medium;
    line-height: 2;
    margin-top: 25px;
    text-align: left;
 #image{
    margin-left: 35px;
    margin-top: 25px;
}
#G{
    text-align: left;
}
#D{
    text-align: right;
}

